<h2>Data exploration</h2>
<h3>By Gilles & Asir</h3>

In this notebook you can find all the cleaning we did on the crop dataset.

<h3>1. The titanic dataset</h3>
<p> First of all we install all the neccesary libraries in our virtual environment.</p>

In [ ]:
%pip install pandas
%pip install matplotlib
%pip install numpy
%pip install xlrd
%pip install openpyxl

Now we will import our xlsx dataset. Let's load the cropstats (second excel sheet). 
We can do this by adding the variable "sheet_name=1" to our pd.read_excel line.
Let's also print our first 20 lines to make sure the data is loaded correctly.

In [26]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

crop_data = pd.read_excel("../4. Other/4.1 Datasets/Crop/Crop.xlsx", sheet_name=1)
crop_data.head(20)

,Unnamed: 0,Harvest_year,admin0,admin1,crop,hectares (ha),production (tonnes),year,yield(tonnes/ha),admin2,notes
0,0,1902,Austria,NaN,wheat,NaN,NaN,1902,1.31,NaN,NaN
1,1,1903,Austria,NaN,wheat,NaN,NaN,1903,1.47,NaN,NaN
2,2,1904,Austria,NaN,wheat,NaN,NaN,1904,1.27,NaN,NaN
3,3,1905,Austria,NaN,wheat,NaN,NaN,1905,1.33,NaN,NaN
4,4,1906,Austria,NaN,wheat,NaN,NaN,1906,1.28,NaN,NaN
5,5,1907,Austria,NaN,wheat,NaN,NaN,1907,1.37,NaN,NaN
6,6,1908,Austria,NaN,wheat,NaN,NaN,1908,1.36,NaN,NaN
7,7,1909,Austria,NaN,wheat,NaN,NaN,1909,1.35,NaN,NaN
8,8,1910,Austria,NaN,wheat,NaN,NaN,1910,1.18,NaN,NaN
9,9,1911,Austria,NaN,wheat,NaN,NaN,1911,1.37,NaN,NaN
10,10,1912,Austria,NaN,wheat,NaN,NaN,1912,1.39,NaN,NaN
11,11,1913,Austria,NaN,wheat,NaN,NaN,1913,1.46,NaN,NaN
12,12,1914,Austria,NaN,wheat,NaN,NaN,1914,1.42,NaN,NaN
13,13,1915,Austria,NaN,wheat,NaN,NaN,1915,1.21,NaN,NaN
14,14,1916,Austria,NaN,wheat,NaN,NaN,1916,NaN,NaN,NaN
15,15,1917,Austria,NaN,wheat,NaN,NaN,1917,0.98,NaN,NaN
16,16,1918,Austria,NaN,wheat,NaN,NaN,1918,0.87,NaN,NaN
17,17,1919,Austria,NaN,wheat,NaN,NaN,1919,NaN,NaN,NaN
18,18,1920,Austria,NaN,wheat,NaN,NaN,1920,0.98,NaN,NaN
19,19,1921,Austria,NaN,wheat,NaN,NaN,1921,1.16,NaN,NaN

Let's print the statistics of all the columns.

In [27]:
crop_data.describe()

,Unnamed: 0,Harvest_year,hectares (ha),production (tonnes),year,yield(tonnes/ha),admin2
count,36707.000000,36707.000000,3.508400e+04,3.470900e+04,36707.000000,34694.000000,0.0
mean,18353.000000,1954.416760,6.415462e+05,1.542239e+06,1954.402566,2.659986,NaN
std,10596.542502,39.055266,1.555087e+06,4.904090e+06,39.051385,2.229322,NaN
min,0.000000,1861.000000,0.000000e+00,0.000000e+00,1861.000000,0.053289,NaN
25%,9176.500000,1925.000000,2.913696e+04,5.568256e+04,1925.000000,1.124418,NaN
50%,18353.000000,1957.000000,1.620035e+05,2.942249e+05,1957.000000,1.851355,NaN
75%,27529.500000,1987.000000,6.110668e+05,1.153222e+06,1987.000000,3.439073,NaN
max,36706.000000,2019.000000,3.147000e+07,1.342875e+08,2019.000000,17.168477,NaN

In [ ]:
# genders = titanic_data["sex"]

# female = []
# male = []

# for gender in genders:
#     if gender == "male":
#         male.append(gender)
#     else:
#         female.append(gender)
# labels = ["female","male"]
# count_female = np.array(len(female))
# count_male = np.array(len(male))
# plot_size = [count_female,count_male]
# explode = (0.1,0)
# fig,ax = plt.subplots()
# ax.pie(plot_size,labels=labels, explode = explode, autopct='%1.1f%%',colors=["purple","blue"],shadow=True)

Let's drop the columns we don't need

In [28]:
crop_data.drop(['admin2', 'notes'], axis=1, inplace=True)

Let's change the names of the columns now to make them more clear.

In [29]:
crop_data.columns = ["index","Harvest_year","country","state","crop","hectares","production","year","yield"]

Now let's print our colums

In [30]:
print(crop_data.columns)

Index(['index', 'Harvest_year', 'country', 'state', 'crop', 'hectares',
       'production', 'year', 'yield'],
      dtype='object')

Now let's change the letters to numbers so our model can work with it fluently. We will first encode the crop column.
First we will label encode the crops. Let's also import the LabelEncoder

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [35]:
# Create a label encoder
encoder = LabelEncoder()

# Encode the categorical variable
df_encoded = encoder.fit_transform(crop_data['crop'])

# Get the unique encodings
unique_encodings = set(df_encoded)

# Print the unique encodings and their corresponding labels
for encoding in unique_encodings:
    label = encoder.inverse_transform([encoding])
    print(f'{encoding}: {label}')

0: ['cereals']
1: ['maize']
2: ['spring wheat']
3: ['wheat']
4: ['winter wheat']

Next up are the countries. Let's label encode them.

In [36]:
# Create a label encoder
encoder = LabelEncoder()

# Encode the categorical variable
df_encoded = encoder.fit_transform(crop_data['country'])

# Get the unique encodings
unique_encodings = set(df_encoded)

# Print the unique encodings and their corresponding labels
for encoding in unique_encodings:
    label = encoder.inverse_transform([encoding])
    print(f'{encoding}: {label}')

0: ['Argentina']
1: ['Australia']
2: ['Austria']
3: ['Belgium']
4: ['Brazil']
5: ['Canada']
6: ['Chile']
7: ['China']
8: ['Croatia']
9: ['Czech Republic']
10: ['Finland']
11: ['France']
12: ['India']
13: ['Indonesia']
14: ['Italy']
15: ['Mexico']
16: ['Morocco']
17: ['Netherlands']
18: ['Portugal']
19: ['South Africa']
20: ['Spain']
21: ['Sweden']
22: ['United Kingdom']
23: ['United States']
24: ['Uruguay']

Finally let's encode the states so we can use them in our model.

In [37]:
# Create a label encoder
encoder = LabelEncoder()

# Encode the categorical variable
df_encoded = encoder.fit_transform(crop_data['state'])

# Get the unique encodings
unique_encodings = set(df_encoded)

# Print the unique encodings and their corresponding labels
for encoding in unique_encodings:
    label = encoder.inverse_transform([encoding])
    print(f'{encoding}: {label}')

0: ['ALABAMA']
1: ['ARIZONA']
2: ['ARKANSAS']
3: ['Aquitaine']
4: ['Australian Capital Territory']
5: ['Auvergne']
6: ['Brittany']
7: ['Burgundy']
8: ['CALIFORNIA']
9: ['COLORADO']
10: ['CONNECTICUT']
11: ['Campania']
12: ['Centre-Val de Loire']
13: ['Champagne-Ardenne']
14: ['DELAWARE']
15: ['Emilia-Romagna']
16: ['FLORIDA']
17: ['Franche-Comté']
18: ['GEORGIA']
19: ['IDAHO']
20: ['ILLINOIS']
21: ['INDIANA']
22: ['IOWA']
23: ['Java (and Madura)']
24: ['KANSAS']
25: ['KENTUCKY']
26: ['LOUISIANA']
27: ['Languedoc-Roussillon']
28: ['Lazio']
29: ['Limousin']
30: ['Loire']
31: ['Lombardia']
32: ['Lorraine']
33: ['Lower Normandy']
34: ['MAINE']
35: ['MARYLAND']
36: ['MASSACHUSETTS']
37: ['MICHIGAN']
38: ['MINNESOTA']
39: ['MISSISSIPPI']
40: ['MISSOURI']
41: ['MONTANA']
42: ['Midi-Pyrénées']
43: ['NEBRASKA']
44: ['NEVADA']
45: ['NEW HAMPSHIRE']
46: ['NEW JERSEY']
47: ['NEW MEXICO']
48: ['NEW YORK']
49: ['NORTH CAROLINA']
50: ['NORTH DAKOTA']
51: ['New South Wales(b)']
52: ['Nord-Pas-de-Calais']
53: ['Northern Territory']
54: ['OHIO']
55: ['OKLAHOMA']
56: ['OREGON']
57: ['OTHER STATES']
58: ['PENNSYLVANIA']
59: ['Paraná']
60: ['Pays de la Loire']
61: ['Picardy']
62: ['Poitou-Charentes']
63: ['Provence-Alpes-Côte dAzur']
64: ['Queensland']
65: ['RHODE ISLAND']
66: ['Rhône-Alpes']
67: ['Rio Grande do Sul']
68: ['SOUTH CAROLINA']
69: ['SOUTH DAKOTA']
70: ['Santa Catarina']
71: ['Sicily']
72: ['South Australia']
73: ['TENNESSEE']
74: ['TEXAS']
75: ['Tasmania']
76: ['Toscana']
77: ['UTAH']
78: ['Upper Normandy']
79: ['VERMONT']
80: ['VIRGINIA']
81: ['Val-de-Marne']
82: ['Veneto']
83: ['Victoria']
84: ['WASHINGTON']
85: ['WEST VIRGINIA']
86: ['WISCONSIN']
87: ['WYOMING']
88: ['Western Australia']
89: ['andalucia']
90: ['anhui']
91: ['aragon']
92: ['asturias']
93: ['baleares']
94: ['basque country']
95: ['canary islands']
96: ['cantabria']
97: ['castilla la mancha']
98: ['castilla y leon']
99: ['catalunya']
100: ['extremadura']
101: ['fujian']
102: ['galicia']
103: ['gansu']
104: ['group1']
105: ['group2']
106: ['guangdong']
107: ['guangxi']
108: ['guizhou']
109: ['hainan']
110: ['henan']
111: ['hubei']
112: ['hunan']
113: ['jiangsu']
114: ['jiangxi']
115: ['la rioja']
116: ['madrid']
117: ['murcia']
118: ['navarra']
119: ['qinghai']
120: ['qinhai']
121: ['shaanxi']
122: ['shandong']
123: ['shanhai']
124: ['shanxi']
125: ['taiwan']
126: ['valencia']
127: ['xinjiang']
128: ['yunnan']
129: ['zhejiang']
130: ['Île-de-France']
131: [nan]

Let's export our cleaned dataset to a new csv file now.

In [16]:
crop_data.to_csv('../3. Other/Datasets/Crop/Crop cleaned.csv')