<h2>Crop EDA and Cleaning</h2>
<h3>By Gilles, Asir & Arthur</h3>

##### In this notebook, you can find all the **data exploration** and **cleaning** we did on the **crop** dataset.

<h3>1.2 The crop dataset</h3>

##### First of all, we install all the neccesary libraries in our virtual environment.

In [1]:
%pip install pandas
%pip install matplotlib
%pip install numpy
%pip install scikit-learn
%pip install xlrd
%pip install openpyxl
%pip install seaborn

Requirement already satisfied: pandas in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (1.5.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: python-dateutil>=2.8.1 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: matplotlib in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (3.8.1)
Requirement already satisfied: contourpy>=1.0.1 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from matplotlib) (4.44.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from matplotlib) (1.23.5)
Requirement already satisfied: packaging>=20.0 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (1.23.5)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: scikit-learn in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: xlrd in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openpyxl in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (0.13.0)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from seaborn) (1.23.5)
Requirement already satisfied: pandas>=1.2 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from seaborn) (3.8.1)
Requirement already satisfied: contourpy>=1.0.1 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.44.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: six>=1.5 in d:\data nexa - cloud ai project git\datanexa_cloud_ai\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import plotly.express as px
import seaborn as sns

##### Now, we will import our xlsx dataset. Let's load the cropstats (second excel sheet). We can do this by adding the variable "sheet_name=1" to our pd.read_excel line. 
##### Let's also print our first 10 lines to make sure the data is loaded correctly.

In [3]:
crop_data = pd.read_excel("../4. Other/4.1 Datasets/Crop/Crop.xlsx", sheet_name=1)
crop_data.head(10)

,Unnamed: 0,Harvest_year,admin0,admin1,crop,hectares (ha),production (tonnes),year,yield(tonnes/ha),admin2,notes
0,0,1902,Austria,NaN,wheat,NaN,NaN,1902,1.31,NaN,NaN
1,1,1903,Austria,NaN,wheat,NaN,NaN,1903,1.47,NaN,NaN
2,2,1904,Austria,NaN,wheat,NaN,NaN,1904,1.27,NaN,NaN
3,3,1905,Austria,NaN,wheat,NaN,NaN,1905,1.33,NaN,NaN
4,4,1906,Austria,NaN,wheat,NaN,NaN,1906,1.28,NaN,NaN
5,5,1907,Austria,NaN,wheat,NaN,NaN,1907,1.37,NaN,NaN
6,6,1908,Austria,NaN,wheat,NaN,NaN,1908,1.36,NaN,NaN
7,7,1909,Austria,NaN,wheat,NaN,NaN,1909,1.35,NaN,NaN
8,8,1910,Austria,NaN,wheat,NaN,NaN,1910,1.18,NaN,NaN
9,9,1911,Austria,NaN,wheat,NaN,NaN,1911,1.37,NaN,NaN

##### Let's print the statistics of all the columns.

In [4]:
crop_data.describe()

,Unnamed: 0,Harvest_year,hectares (ha),production (tonnes),year,yield(tonnes/ha),admin2
count,36707.000000,36707.000000,3.508400e+04,3.470900e+04,36707.000000,34694.000000,0.0
mean,18353.000000,1954.416760,6.415462e+05,1.542239e+06,1954.402566,2.659986,NaN
std,10596.542502,39.055266,1.555087e+06,4.904090e+06,39.051385,2.229322,NaN
min,0.000000,1861.000000,0.000000e+00,0.000000e+00,1861.000000,0.053289,NaN
25%,9176.500000,1925.000000,2.913696e+04,5.568256e+04,1925.000000,1.124418,NaN
50%,18353.000000,1957.000000,1.620035e+05,2.942249e+05,1957.000000,1.851355,NaN
75%,27529.500000,1987.000000,6.110668e+05,1.153222e+06,1987.000000,3.439073,NaN
max,36706.000000,2019.000000,3.147000e+07,1.342875e+08,2019.000000,17.168477,NaN

##### Now, let's see the data types of our dataset.

In [5]:
crop_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36707 entries, 0 to 36706
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           36707 non-null  int64
 1   Harvest_year         36707 non-null  int64
 2   admin0               36707 non-null  object
 3   admin1               33716 non-null  object
 4   crop                 36707 non-null  object
 5   hectares (ha)        35084 non-null  float64
 6   production (tonnes)  34709 non-null  float64
 7   year                 36707 non-null  int64
 8   yield(tonnes/ha)     34694 non-null  float64
 9   admin2               0 non-null      float64
 10  notes                5641 non-null   object
dtypes: float64(4), int64(3), object(4)
memory usage: 3.1+ MB

##### Let's drop the columns we don't need

In [6]:
crop_data.drop(['admin2', 'notes'], axis=1, inplace=True)

In [7]:
print(crop_data.columns)

Index(['Unnamed: 0', 'Harvest_year', 'admin0', 'admin1', 'crop',
       'hectares (ha)', 'production (tonnes)', 'year', 'yield(tonnes/ha)'],
      dtype='object')

##### Let's change the names of the columns now to make them more clear.

In [8]:
crop_data.columns = ["index","Harvest_year","country","state","crop","hectares","production","year","yield"]

##### Now, let's print our colums

In [9]:
print(crop_data.columns)

Index(['index', 'Harvest_year', 'country', 'state', 'crop', 'hectares',
       'production', 'year', 'yield'],
      dtype='object')

#####  Now, let's change the letters to numbers so our model can work with it fluently. First we will label encode the crops.

In [10]:
filter_wheat = (crop_data["crop"] == "wheat")
crop_data.loc[filter_wheat,"crop"] = 1
filter_cereals = (crop_data["crop"] == "cereals'")
crop_data.loc[filter_cereals,"crop"] = 2
filter_maize = (crop_data["crop"] == "maize")
crop_data.loc[filter_maize,"crop"] = 3
filter_sp_wheat = (crop_data["crop"] == "spring wheat")
crop_data.loc[filter_sp_wheat,"crop"] = 4
filter_winter_wheat = (crop_data["crop"] == "winter wheat")
crop_data.loc[filter_winter_wheat,"crop"] = 5

##### Let's find out if it worked by printing out the first 10 rows.

In [11]:
crop_data.head(10)

   index  Harvest_year  country state crop  hectares  production  year  yield
0      0          1902  Austria   NaN    1       NaN         NaN  1902   1.31
1      1          1903  Austria   NaN    1       NaN         NaN  1903   1.47
2      2          1904  Austria   NaN    1       NaN         NaN  1904   1.27
3      3          1905  Austria   NaN    1       NaN         NaN  1905   1.33
4      4          1906  Austria   NaN    1       NaN         NaN  1906   1.28
5      5          1907  Austria   NaN    1       NaN         NaN  1907   1.37
6      6          1908  Austria   NaN    1       NaN         NaN  1908   1.36
7      7          1909  Austria   NaN    1       NaN         NaN  1909   1.35
8      8          1910  Austria   NaN    1       NaN         NaN  1910   1.18
9      9          1911  Austria   NaN    1       NaN         NaN  1911   1.37

##### Checking null values, removing them and then checking again

In [12]:
crop_data.isnull().sum()

index              0
Harvest_year       0
country            0
state           2991
crop               0
hectares        1623
production      1998
year               0
yield           2013
dtype: int64

In [13]:
crop_data.dropna(inplace=True)

In [14]:
crop_data.isnull().sum()

index           0
Harvest_year    0
country         0
state           0
crop            0
hectares        0
production      0
year            0
yield           0
dtype: int64

In [15]:
crop_data.describe()

,index,Harvest_year,hectares,production,year,yield
count,31477.000000,31477.000000,3.147700e+04,3.147700e+04,31477.000000,31477.000000
mean,18747.740255,1955.427709,5.074756e+05,1.376355e+06,1955.427709,2.683439
std,9945.459727,39.077905,9.361399e+05,4.304644e+06,39.077905,2.242563
min,575.000000,1861.000000,1.000000e+00,1.000000e+00,1861.000000,0.053289
25%,10211.000000,1926.000000,3.235900e+04,6.268220e+04,1926.000000,1.143275
50%,18858.000000,1959.000000,1.593000e+05,2.980623e+05,1959.000000,1.864642
75%,26735.000000,1988.000000,5.665520e+05,1.110293e+06,1988.000000,3.452293
max,36706.000000,2018.000000,2.023036e+07,1.342875e+08,2018.000000,17.168477

In [16]:
crop_data

,index,Harvest_year,country,state,crop,hectares,production,year,yield
575,575,1922,Indonesia,Java (and Madura),3,1573000.0,1580000.0,1922,1.004450
576,576,1923,Indonesia,Java (and Madura),3,1630000.0,1547000.0,1923,0.949080
577,577,1924,Indonesia,Java (and Madura),3,1763000.0,1721000.0,1924,0.976177
578,578,1925,Indonesia,Java (and Madura),3,1598000.0,1659000.0,1925,1.038173
579,579,1926,Indonesia,Java (and Madura),3,1962000.0,2042000.0,1926,1.040775
...,...,...,...,...,...,...,...,...,...
36702,36702,2013,China,zhejiang,1,75520.0,278300.0,2013,3.685117
36703,36703,2014,China,zhejiang,1,82120.0,309500.0,2014,3.768875
36704,36704,2015,China,zhejiang,1,89800.0,351300.0,2015,3.912027
36705,36705,2016,China,zhejiang,1,76590.0,253900.0,2016,3.315054
36706,36706,2017,China,zhejiang,1,103670.0,419200.0,2017,4.043600

##### Dropping some more tables that we don't need.

In [17]:
crop_data.drop(columns=["country","state","Harvest_year"], inplace=True)

##### Checking our final dataset

In [18]:
crop_data

       index crop   hectares  production  year     yield
575      575    3  1573000.0   1580000.0  1922  1.004450
576      576    3  1630000.0   1547000.0  1923  0.949080
577      577    3  1763000.0   1721000.0  1924  0.976177
578      578    3  1598000.0   1659000.0  1925  1.038173
579      579    3  1962000.0   2042000.0  1926  1.040775
...      ...  ...        ...         ...   ...       ...
36702  36702    1    75520.0    278300.0  2013  3.685117
36703  36703    1    82120.0    309500.0  2014  3.768875
36704  36704    1    89800.0    351300.0  2015  3.912027
36705  36705    1    76590.0    253900.0  2016  3.315054
36706  36706    1   103670.0    419200.0  2017  4.043600

[31477 rows x 6 columns]

In [19]:
crop_data.reset_index(drop=True, inplace=True)

In [20]:
crop_data

       index crop   hectares  production  year     yield
0        575    3  1573000.0   1580000.0  1922  1.004450
1        576    3  1630000.0   1547000.0  1923  0.949080
2        577    3  1763000.0   1721000.0  1924  0.976177
3        578    3  1598000.0   1659000.0  1925  1.038173
4        579    3  1962000.0   2042000.0  1926  1.040775
...      ...  ...        ...         ...   ...       ...
31472  36702    1    75520.0    278300.0  2013  3.685117
31473  36703    1    82120.0    309500.0  2014  3.768875
31474  36704    1    89800.0    351300.0  2015  3.912027
31475  36705    1    76590.0    253900.0  2016  3.315054
31476  36706    1   103670.0    419200.0  2017  4.043600

[31477 rows x 6 columns]

##### Let's export our cleaned dataset to a csv file.

In [21]:
crop_data.to_csv("../4. Other/4.1 Datasets/Crop/Crop cleaned_2.csv")

##### Checking the saved csv file

In [22]:
dataset = pd.read_csv("../4. Other/4.1 Datasets/Crop/Crop cleaned_2.csv",delimiter=',')

In [23]:
dataset

       Unnamed: 0  index  crop   hectares  production  year     yield
0               0    575     3  1573000.0   1580000.0  1922  1.004450
1               1    576     3  1630000.0   1547000.0  1923  0.949080
2               2    577     3  1763000.0   1721000.0  1924  0.976177
3               3    578     3  1598000.0   1659000.0  1925  1.038173
4               4    579     3  1962000.0   2042000.0  1926  1.040775
...           ...    ...   ...        ...         ...   ...       ...
31472       31472  36702     1    75520.0    278300.0  2013  3.685117
31473       31473  36703     1    82120.0    309500.0  2014  3.768875
31474       31474  36704     1    89800.0    351300.0  2015  3.912027
31475       31475  36705     1    76590.0    253900.0  2016  3.315054
31476       31476  36706     1   103670.0    419200.0  2017  4.043600

[31477 rows x 7 columns]