<h2>Data exploration - DataNexa</h2>
<h3>By Gilles, Asir & Arther</h3>

In this notebook we will explain which EDA techniques we found that are really intresting and important to do on every dataset.

<h3>1.3 EDA summary</h3>

<p>We will go over every step how we cleaned each dataset, first we need to install all the libraries for the cleaning.<p>

In [81]:
%pip install pandas
%pip install matplotlib
%pip install numpy
%pip install scikit-learn
%pip install xlrd
%pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (2.1.2)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 23.3.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (3.8.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from matplotlib) (4.44.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from matplotlib) (6.1.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy<2,>=1.21 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.26.1)
Requirement already satisfied: pillow>=8 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from matplotlib) (23.2)
Requirement already satisfied: cycler>=0.10 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: zipp>=3.1.0 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.17.0)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 23.3.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (1.26.1)
WARNING: You are using pip version 21.2.4; however, version 23.3.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.26.1)
Requirement already satisfied: scipy>=1.5.0 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.11.3)
Requirement already satisfied: joblib>=1.1.1 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (3.2.0)
WARNING: You are using pip version 21.2.4; however, version 23.3.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xlrd in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (2.0.1)
WARNING: You are using pip version 21.2.4; however, version 23.3.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /Users/gillesw/Library/Python/3.9/lib/python/site-packages (from openpyxl) (1.1.0)
WARNING: You are using pip version 21.2.4; however, version 23.3.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

After everything is installed it is really important to check the current file with data and load it in a dataframe.

In [82]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

dataframe = pd.read_csv("../4. Other/4.1 Datasets/Datanexa/datanexa.csv") 
# For example if you use multiple sheets you can create more dataframes for a neat overview
# Or you can use pd.read_excel, html, etc... for other formats
# When you read excel the sheet_name variable will select which sheet it needs to read. 

# Lets print the first lines to check if it was loaded correctly
dataframe.head(5)

   number answer not_needed
0     230    yes      dhfhs
1      10     no    hfhqsjf
2     298    yes    hfdhhqs
3      39     no       hdfh
4      40    yes       ookd

A very intresting function is the statistics function. This will give us lots of information about the dataframe.

In [83]:
dataframe.describe()

           number
count    6.000000
mean   111.166667
std    121.059352
min     10.000000
25%     39.250000
50%     45.000000
75%    185.000000
max    298.000000

Also very important is that you need to drop the colums you won't use. This makes it easer later on when fitting the model.

In [84]:
dataframe.drop(['not_needed'], axis=1, inplace=True)

In [85]:
dataframe.head(5)

   number answer
0     230    yes
1      10     no
2     298    yes
3      39     no
4      40    yes

We confirm the column is dropped correctly.

Next we will rename our column names. This is very important because this way we can give each column a clear name to prevent any conflicts later on.

In [86]:
dataframe.columns = ["Random_number","Yes_or_no"]

In [87]:
dataframe.head(5)

   Random_number Yes_or_no
0            230       yes
1             10        no
2            298       yes
3             39        no
4             40       yes

In [88]:
print(dataframe.columns)

Index(['Random_number', 'Yes_or_no'], dtype='object')

Also a very intresting and important cleaning technique is encoding columns. This is really important when we have a classification problem because otherwise our model isn't able to predict. Let's encode the yes & no.

In [89]:
from sklearn.preprocessing import LabelEncoder

# Create a label encoder
encoder = LabelEncoder()

# Encode the categorical variable
df_encoded = encoder.fit_transform(dataframe['Yes_or_no'])

# Get the unique encodings
unique_encodings = set(df_encoded)

# Print the unique encodings and their corresponding labels
for encoding in unique_encodings:
    label = encoder.inverse_transform([encoding])
    print(f'{encoding}: {label}')

0: ['no']
1: ['yes']

In [90]:
dataframe['Yes_or_no'] = df_encoded

Now we have all the cleaned information in our dataframe. However we still need to save it to a new csv file so we can use it later in our model.

In [91]:
dataframe.to_csv('../4. Other/4.1 Datasets/Datanexa/datanexa_cleaned.csv')